# Nuxt
nuxt-app/.output
nuxt-app/.data
nuxt-app/.nuxt
nuxt-app/.nitro
nuxt-app/.cache
nuxt-app/dist
nuxt-app/node_modules
nuxt-app/logs
nuxt-app/*.log
nuxt-app/.env
nuxt-app/.env.*
!nuxt-app/.env.example

# PlatformIO
esp32/**/.pio
esp32/**/.vscode
esp32/**/.cache
esp32/**/include/secrets.h

# Docker secrets
docker/admin.token

# OS
.DS_Store
