INFLUXDB_URL=http://127.0.0.1:8086
INFLUXDB_TOKEN=apiv3_my-super-secret-token
INFLUXDB_DATABASE=warren

MQTT_URL=mqtt://localhost:1883

NUXT_AUTH_USERNAME=admin
NUXT_AUTH_PASSWORD=change-me
NUXT_SESSION_PASSWORD=generate-a-32+-char-random-string
